<html lang="en">
<head>
  <title>
    SignUp Page
  </title>
</head>

<div class = "signup-header">
  <h1>
    REGISTRATION
  </h1>
</div>


<div class="flex-container">


  <div class="flex-child">

    <h1>
      USER
    </h1>
    <div class="user-form">
      <%= form_for @user , html: {class: "user-registration-form"} do |f| %>
      <%= f.text_field :email, autocomplete: "email", placeholder: "Email"%><br>
      <%= f.password_field :password, autocomplete: "password", placeholder: "Password" %><br>
      <%= f.submit %>
    <% end %>
    </div>
  </div>

  <div class="flex-child green">
    Flex Column 2
  </div>


</div>

</html>
